@import "bootstrap-sprockets";
@import "bootstrap";

h1,h2,h3,h4,h5,h6 {
  font-family: SwedenSans, Arial, sans-serif;
}

hr {
  border-top-color: #ccc;
}

.header {
  color: white;
  padding-top: 90px;
  font-family: SwedenSans, Arial, sans-serif;

}

.large-image {
  width: 100%;
  position:relative;
  background-position: bottom right;
  background-color: rgb(32, 32, 32);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/umbrellaman-md.jpg);
  height: 550px;
}



@media (min-width: $screen-sm-min) {
  .large-image {
    background-position: top center; 
    /*background-image: url(../images/umbrellaman.jpg);
    height: 200px;*/
  }


  .main-text p {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 20px;
    color: #515151;
  }
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
  color: white;
  text-decoration: none;
}

.table-of-content a:link {
  color: black;
}

.table-of-content a:visited {
  color: black;
}

.table-of-content a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.article-thumbnail {
  padding-top: 10px;
}

.main-text p {
}

.author {
  margin-top: 60px;
}
footer {
  padding: 20px 0 40px 0;
}
footer p {
  margin-top: 40px;
}
