---
---

<div class="large-image">
  <div class="container header center">
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <h1>Asia Magazine</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-of-content">

  <% sitemap.where(:tags.include => "article").all.each do |article| %>
    <article class="row">
      <div class="col-sm-4 col-md-2 article-thumbnail">
        <img src="images/articles/<%=article.data["image"]%>" 
          class="img-responsive img-rounded hide" alt="">
      </div>
      <div class="col-sm-8 col-md-4">
        <h3>
          <%= link_to article.data["title"], article.url, :relative => true %>
        </h3>
        <p><%= article.data["summary"] %></p>
        <%= link_to "Read more", article.url,  :relative => true %>
        <hr>
      </div>
    </article>
    <% end %>
  </div>
</div>

